body {
  background: #101a70;
  font-family: Arial, sans-serif;
  margin: 0;
}

#card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 35px;
}

.card-item:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.card {
  background: #EFD2B0;
  border-radius: 18px;
  padding: 18px;
  color: #0d0231;
  box-shadow: 0px 10px 10px rgb(50, 31, 54);
    transition: 0.5s;
}

.card:hover{
  transform: translateY(-7px);
  box-shadow: 0px 10px 10px black;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background: #020617;
  border-radius: 12px;
}

.fname {
  color: #f8cf38;
  font-size: 18px;
}

.lname {
  color: #94a3b8;
}

.bio {
  background: #8e5e04;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
}

.webDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
.swiper-slide {
  border-radius: 20px;
  overflow: hidden; 
  border: solid 30px rgb(35, 35, 35);
}
.swiper-slide img {
  height: 520px;
  width: 100%;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40%;
  color: #fff;
}

.swiper-slide {
  position: relative;
}



#categoriy{
    width:150px;
  height: 50px;
  background: linear-gradient( rgb(255, 255, 255), rgb(0, 0, 0));
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.6s ease;
  border-radius: 10px;
  font-size: 20px; 

}

#sort{
  width: 150px;
  height: 50px;
  background: linear-gradient( rgb(255, 255, 255), rgb(0, 0, 0));
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.6s ease; 
  border-radius: 10px;
  font-size: 20px;
}

  #categoriy p{
    color: #fff;
  }

  #min{
  width: 150px;
  height: 50px;
  background: linear-gradient( rgb(255, 255, 255), rgb(0, 0, 0));
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.6s ease; 
  border-radius: 10px;
  font-size: 20px;
  }
  #max{
  width: 150px;
  height: 50px;
  background: (rgb(39, 60, 177));
  background-size: 200% 200%;
  background-position: left;
  transition: background-position 0.6s ease; 
  border-radius: 10px;
  font-size: 20px;
  
  }
  

  .headerslide{
  height: 50px;
  background: linear-gradient(#cbc1b5, rgba(232, 173, 63, 0.762), #cbc1b5);
  border: solid 2px rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  }

  .purchaseimg{
    width: 50px;
    height: 50px;
    margin-top: 20px;

    
    margin-left: 10px;
    display: inline;
  }

  .navlink{
    color: #020617;
    margin-top: 20px;
    margin-right: 200px;
    text-decoration: none;
  }

  .localstorage{
    background: #FFC570;
    border-radius: 10px;
    border:none; 
    
    width: 300px;
    height: 50px;
    font-family:Arial, sans-serif;
    font-size: 30px;
    color: #717171;
    transition: 0.4s;
  }

  .localstorage:hover{
    background: #FFDE42;
  }

  body {
    background-color:#F2EAE0;
}




.search{
  width: 200px;
  height: 30px;
  border: 2px solid black;
  padding: 1px 0 0 48px;
  font-size: 22px;
  color: blue;
  background-repeat: no-repeat;
  outline: 0;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 400px;
}


.Imgsearch{
  margin-top: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: 1175px;
}


.header{
  display: flex;
  position: sticky;
  top: 0px;
  background-color: #F2EAE0;
  z-index: 100;
}